<!doctype html>
<html>
<head>
  <title>Input your values</title>
  <style>
  article {

  position: absolute;
  top:50%;
  left:50%;
  width:400px;
  margin: -220px 0 0 -200px;
  text-align: left;

  }
 </style>
</head>
<body>
	<article>
	<h1>Mad Libs</h1>
	<form action="/madlib">
		<p>Name: <input type="text" name="name"></p>
		<p>
		Color: 
		<select name="color">
			<option name="red">Red</option>
			<option name="yellow">Yellow</option>
			<option name="green">Green</option>
			<option name="blue">Blue</option>
			<option name="maroon">Maroon</option>
			<option name="peach">Peach</option>
			<option name="periwinkle">Periwinkle</option>
		</select>
		</p>
		<p>Noun: <input type="text" name="noun"></p>
		<p>Adjective: <input type="text" name="adj"></p>
		
		<p>Random nouns:<br>
		<input type="checkbox" name="nounz" value="bottle">bottle<br>
		<input type="checkbox" name="nounz" value="god">dog<br>
		<input type="checkbox" name="nounz" value="car">car<br>
		<input type="checkbox" name="nounz" value="cat">cat<br>
		<input type="checkbox" name="nounz" value="table">table<br>
		<input type="checkbox" name="nounz" value="peanuts">peanut<br>
		<input type="checkbox" name="nounz" value="candy">candy<br>
		</p>
		<p>Random adjectives:</p>
		<input type="radio" name="pretty">pretty<br>
		<input type="radio" name="fun">fun<br>

		<input type="submit" value="Submit">
	</form>
</article>
</body>
</html>