<!doctype html>
<html>
<head>
  <title>Storytime</title>
<style>
  h3 {

  position: absolute;
  top:50%;
  left:50%;
  width:400px;
  margin: -220px 0 0 -200px;
  text-align: center;

	}

	h3 li {
		line-height: 0.5em;
	}

</style>
</head>
<body>
<h3>
	It rained for 1000 nights and the {{ color }} {{ noun }} quickly became ruined. We did not know what to do with it, so we threw it into the {{ adjective }} river. Four people found it, and they restored it.
<br><br>
{% if nouns %}
They retro-fitted it with:
{% for word in nouns %}
	<ul>
		<li>{{ word }}</li>
	</ul>
{% endfor %}

{% endif %}



</h3>

</body>
</html>
