<!doctype html>
<html>
<head>
  <title>Storytime</title>
<style>
  h3 {

  position: absolute;
  top:50%;
  left:50%;
  width:400px;
  margin: -220px 0 0 -200px;
  text-align: center;

	}

	h3 li {
		line-height: 0.5em;
	}

</style>
</head>
<body>
<h3>
	In the jungle, the mighty jungle the {{ color }} {{ noun }} sleeps tonight.
When the {{ person }}, the {{ adjective }} person, wakes up, they see a lion.

<br><br>
{% if nouns %}
The lion brings them:
{% for word in nouns %}
	<ul>
		<li>{{ word }}</li>
	</ul>
{% endfor %}

{% endif %}


</h3>

</body>
</html>
